@import url("https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap");

* {
  box-sizing: border-box;
  font-family: "Signika Negative", sans-serif;
}

:root {
  --txtaligh: center;
  --extra-light: #e5ff00;
  --light: #f035c2;
  --medium: #44d7e1;
  --dark: #222222;
  --extra-dark: #000000;
}

html {
  /* set 1rem to 10px */
  /* font-size: 62.5%; */
  background-color: var(--dark);
}

header {
  text-align: var(--txtaligh);
  margin-bottom: 70px;
  color: var(--light);
}

header p {
  text-align: var(--txtaligh);
}

section {
  display: flex;
  flex-wrap: wrap;
}

div {
  flex: 1 1 300px;
  border: 2px dashed var(--medium);
  padding: 0 15px 15px;
  margin: 0 20px 40px;
  transition: all 0.7s ease-in;
}

div:hover {
  box-shadow: inset 0px 0px 20px var(--extra-light), 0 0 60px var(--light);
  border: 2px solid var(--medium);
  transform: rotate(360deg);
  background: url(https://media.giphy.com/media/xT9IgzoKnwFNmISR8I/giphy.gif);
  background-repeat: none;
  background: contain;
}

div:hover p {
  background-color: var(--extra-light);
  border-radius: 6px;
  padding: 3px;
  text-shadow: 0.5px 0.5px 1px var(--extra-dark);
}

div:hover h2 {
  background-color: var(--extra-light);
  text-shadow: 0.5px 0.5px 1px var(--extra-dark);
}

p {
  color: var(--light);
}

.row {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
}

pre {
  background-image: linear-gradient(#e5ff00 1%, #00eeff 50%);
  border-radius: 6px;
  margin: 0px;
  padding: 20px;
}

h2 {
  color: var(--light);
  position: relative;
  margin-top: -1.5rem;
  border: solid 2px var(--medium);
  border-radius: 5px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  background-color: var(--dark);
}

/* @media screen and (max-width: 992px) {
  .row {
    flex-direction: column;
  }
} */
